@import"bourbon";
// @import"neat";
@import"bootstrap";
// @import"font-awesome";
// @import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);
@mixin center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}
@mixin center2 {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
$main-bgc: hsla(210, 15%, 85%, 1);
body, html {
  width: 100%;
  height: 100%;
  background-color: #eee
}
//与视窗等大
.main-area {
  position: relative;
  background-color: $main-bgc;
  width: 100%;
  height: 100%;
  min-height: 700px;
}
.wrapper {
  height: 300px;
  width: 700px;
}
//slide------------------------------
.slide-box {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  
}

.slide-item {
  position: absolute;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .1)
}

